backend/__pycache__/
backend/.venv/
backend/extracted_texts/
backend/images_from_pdf/
backend/output_files/
backend/uploaded_files/
backend/.env
backend/mistakes.json
backend/task_files
backend/solution_file/
backend/relevance_tool/__pycache__/