.DS_Store

**/__pycache__/
**/.venv/
**/.env

backend/images_from_pdf/
backend/output_files/
backend/uploaded_files/
backend/mistakes.json
backend/task_answers.json
backend/exam_paper.json
backend/process_task_result/result.json
backend/response.json
backend/extracted_texts/
backend/solution_file/
backend/task_files/

*.pdf
